<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="offset-sm-1 col-sm-2">
        <div class="row justify-content-center">
          <i class="fas fa-route fa-4x"></i>
        </div>
        <div class="row mt-2 justify-content-center">
          <h6>Distance</h6>
        </div>
        <div class="row justify-content-center">
          <h3 class="font-weight-bold">
            <% if ski_route.distance %>
              <%=ski_route.distance%>
              km
            <% else %>
              ?
            <% end %>
          </h3>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row justify-content-center">
          <i class="fas fa-mountain fa-4x"></i>
        </div>
        <div class="row mt-2 justify-content-center">
          <h6>Elevation</h6>
        </div>
        <div class="row justify-content-center">
          <h3 class="font-weight-bold"><%=ski_route.vert%>
            m</h3>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row justify-content-center">
          <i class="fas fa-hourglass-start fa-4x"></i>
        </div>
        <div class="row mt-2 justify-content-center">
          <h6>Time</h6>
        </div>
        <div class="row justify-content-center">
          <h3 class="font-weight-bold"><%=ski_route.time%>h</h3>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row justify-content-center">
          <i class="fas fa-cloud-sun fa-4x"></i>
        </div>
        <div class="row mt-2 justify-content-center">
          <h6>Aspect</h6>
        </div>
        <div class="row justify-content-center">
          <h3 class="font-weight-bold"><%=ski_route.aspect%></h3>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row justify-content-center">
          <i class="fas fa-skull-crossbones fa-4x"></i>
        </div>
        <div class="row mt-2 justify-content-center">
          <h6>Dificulty</h6>
        </div>
        <div class="row justify-content-center">
          <h3 class="font-weight-bold"><%=ski_route.dificulty%></h3>
        </div>
      </div>
    </div>
  </div>
</div>
