<%= form_for(ski_route, url: form_url) do |f| %>
<%= render 'shared/form_errors', element: ski_route %>
<div class="row">
  <div class="col-lg-12">
    <hr>
    <div class="form-group row justify-content-center">
      <label class="col-sm-3 col-form-label" for="inlineFormCustomSelectPref">Nombre</label>
      <div class="col-sm-7">
        <%= f.text_field :title, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <label class="col-sm-3 col-form-label" for="inlineFormCustomSelectPref">Texto Introductorio</label>
      <div class="col-sm-7">
        <%= f.text_area :intro, class: 'form-control', required: true, rows: 5 %>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <label class="col-sm-3 col-form-label" for="inlineFormCustomSelectPref">Datos de la ruta</label>
      <div class="col-sm-7">
        <div class="border p-3">
          <div class="row">
            <div class="col-sm-12 col-md-4 text-center">
              Distancia [km]
              <%= f.number_field :distance, class: 'form-control', step: :any %>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
              Vert [m]
              <%= f.number_field :vert, class: 'form-control' %>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
              Tiempo [h]
              <%= f.number_field :time, class: 'form-control', step: :any %>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-center">
              Aspect
              <%= f.select :aspect, options_for_select(SkiRoute::ASPECTS),{ include_blank: true }, { class: 'custom-select' } %>
            </div>
            <div class="col-6 text-center">
              Dificultad
              <%= f.select :dificulty, options_for_select((0..10)),{}, { class: 'custom-select' } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <label class="col-sm-3 col-form-label" for="inlineFormCustomSelectPref">Descripción de ruta</label>
      <div class="col-sm-7">
        <%= f.text_area :route_description, class: 'form-control', required: true, rows: 5 %>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <label class="col-sm-3 col-form-label" for="inlineFormCustomSelectPref">Extras</label>
      <div class="col-sm-7">
        <div class="border p-3">
          <div class="row">
            <div class="col-sm-12 col-md-6 text-center">
              Estación de Pronostico
              <%= f.select :location, options_for_select(SkiRoute::LOCATIONS), { include_blank: true }, { class: 'custom-select'} %>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
              Region
              <%= f.select :sector, options_for_select(SkiRoute::SECTORS.invert), {}, { class: 'custom-select'} %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <label class="col-sm-3 col-form-label" for="inlineFormCustomSelectPref">Imagenes</label>
      <div class="col-sm-7">
        <div class="border p-3">
          <div class="row border-bottom pb-4">
            <div class="col-sm-12 text-center">
              Foto Portada
              <div class="custom-file">
                <%= f.file_field :avatar, { class: 'custom-file-input py-2', required: true, id: "avatar"} %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center py-3">
              Otras Fotos
              <%= link_to '#', id: "ski_route-add_pic", class:'border-0 bg-transparent' do %>
                <i class="fas fa-plus-circle bg-red"></i>
              <% end %>
              <div id=extra_pic-container>
                <%= render 'extra_pic', ski_route: @ski_route, f:f, i: 0 %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <%= f.submit class: "btn btn-success block-center" %>
      </div>
    </div>
  </div>
</div>
<% end %>
